<html>
<head>
    <title>Contact Confirmation</title>
    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='contact_confirmation.css') }}">
</head>
</head>
<body>
    <div class="confirmation-content">
        <h1>Contact Confirmation</h1>
        <p>Thank you for contacting us!</p>
        <p>Submitted Information:</p>
        <ul>
            <li>First Name: {{ firstname }}</li>
            <li>Last Name: {{ lastname }}</li>
            <li>Phone Number: {{ phone }}</li>
            <li>Address: {{ address }}</li>
            <li>State: {{ state }}</li>
            <li>Zip Code: {{ zipcode }}</li>
        </ul>
    </div>
</body>
</html>
