<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Users {{ user.id }}</title>
    <style>
        body { margin-left: 35px;}
        .label { display: block;}
        .button {color: white; background-color: teal;}
    </style>
</head>

<body>
    <h1>Edit User {{ user.id }}</h1>
    <!-- Submit data to edit_user route in app.py -->
    <form action="{{ url_for('edit_user', user_id=user.id) }}" method="post">

        <div class="form-group">
            <label class="label" for="firstName">First Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <br>
        <div class="form-group">
            <label class="label" for="lName">Last Name:</label>
            <input type="text" id="lname" name="lname" required>
        </div>
        <br>
        <div class="form-group">
            <label class="label" for="email">Email:</label>
            <input type="text" id="email" name="email" required>
        </div>
        <br>
        <div class="button-container">
            <!-- Update button to submit the form -->
            <button class="button" type="submit">Update</button>
        </div>
        <br>
        <a class="ref" href="{{ url_for('index') }}">Go Back</a>

    </form>
</body>

</html>
