<!-- Use layout template for rest of code -->
{% extends 'layout.html' %}

{% block content %}
    <h1>About Page</h1><br>
    <p>Greetings, cosmic comrades! 🚀 I'm Kathy, the quirky mind behind this blog, 
        where geekiness and giggles collide. On this pixelated playground, we decode binary jokes, 
        explore fandom galaxies, and celebrate the geek within. Whether you're a wizard, a space cowboy, 
        or just love a good pun, this blog is your Bat-Signal. Join the fun, share your nerdy wisdom, 
        and let's turn the digital realm into a haven for all things geeky. Warp speed ahead! </p>
{% endblock content %}
