<!-- Changes for current user ; file inputs on form need enctype="multipart/form-data-->
{% extends 'layout.html' %}
{% block content %}
    <div class="content-section">
        <div class="media" style="display: flex; align-items: center;">
            <img class="rounded-circle account-img" src="{{ image_file }}" style="height: 90px;">
            <div class="media-body ml-3">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
        <!-- FORM HERE -->
        <h3 class="mt-4">Update Account Information</h3>
        <form method="POST" action="{{ url_for('update_account') }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.firstName.label(class="form-control-label") }}
                {{ form.firstName(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.lastName.label(class="form-control-label") }}
                {{ form.lastName(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {{ form.username(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.picture.label(class="form-control-label") }}
                {{ form.picture(class="form-control form-control-lg") }}
            </div>
            <br>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>

        <!-- Update Password Form -->
        <hr>
        <h3>Update Password</h3>
        <form method="POST" action="{{ url_for('update_password') }}">
            {{ update_password_form.hidden_tag() }}                             
            <div class="form-group">
                {{ update_password_form.new_password.label }} {{ update_password_form.new_password(class="form-control") }}
            </div>
            <div class="form-group">
                {{ update_password_form.confirm_password.label }} {{ update_password_form.confirm_password(class="form-control") }}
            </div>            
            <div class="form-group">
                {{ update_password_form.submit(class="btn btn-primary") }}
            </div>
        </form>     
    </div>
  {% endblock content %}