<!-- Use layout template for rest of code -->
{% extends 'layout.html' %}

{% block content %}
  {% if new_user %}
    <h2>Newly Registered User:</h2>
    <p>
      First Name: {{ new_user.firstName }}<br>
      Last Name: {{ new_user.lastName }}<br>
      Username: {{ new_user.username }}<br>
      Email: {{ new_user.email }}<br>
      Password: {{ new_user.password }}<br>
    </p>
  {% endif %}

  <h2>Recent Posts:</h2>
  {% for post in posts %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
      </div>
    </article>
  {% endfor %}
{% endblock content %}