<!-- Use layout template for rest of code -->
{% extends 'layout.html' %}

<!-- Add a login field to your app that searches your database for the correct username and password. -->
{% block content %}
<div class="content-section">
    <!-- When we post this form it'll post info to same route we're currently on-->
    <form method="POST" action="">
        <!-- Accessing form instance we passed into this template hidden adds CSRF token  -->
        {{ form.hidden_tag() }}
        <!-- Group elements in the form -->
        <fieldset class="form-group">
            <!-- Legend for Login form -->
            <legend class="border-bottom mb-4">Log In</legend>
            <!-- fields are from forms.py for Login Form -->
            <div class="form-group">
                {{ form.username.label(class='form-control-label') }}
                <!-- check validity and output error if invalid -->
                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class='form-control-label') }}
                <!-- check validity and output error if invalid -->
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <!-- Remember me -->
            <div class="form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        <!-- <small class="text-muted ml-2">
            <a href="#">Forgot Password?</a>
        </small> -->
    </form>
</div>
<!-- If there's already an account link to login route function-->
<div class="border-top pt-3">
    <small class="text-muted">
        Need An Account? <a class="ml-2" href="{{ url_for('register') }}">
            Sign Up Now</a>
    </small>
</div>

{% endblock content %}