<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Submission</title>
</head>

<body>
    <h1>Form Submission</h1>
    <p>Submitted Information:</p>
    <ul>
        <li>First Name: {{ formData.firstName }}</li>
        <li>Last Name: {{ formData.lastName }}</li>
        <li>Email: {{ formData.email }}</li>
        <li>Favorite Food: {{ formData.favoriteFood }}</li>
    </ul>
</body>

</html>